* {
  word-spacing: 2px;
  margin: 0px;
}

.content {
  background-color: lightblue;
  text-align: center;
}

.header {
  font-style: italic;
  font-size: 20px;
  padding: 20px;
}

.userinput {
  text-align: center;
  padding-bottom: 10px;
}

input {
  height: 42px;
  width: 500px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin-right: 5px;
}

button {
  height: 40px;
  width: 38px;
  font-size: 20px;
  border-radius: 8px;
}

ul {
  list-style-type: none;
}
