* {
  word-spacing: 2px;
  margin: 0px;
}

.header, .listinput {
  background-color: lightblue;
  text-align: center;
}

.header {
  font-style: italic;
  font-size: 20px;
  padding: 20px;
}

.listinput {
  text-align: center;
  padding-bottom: 20px;
}

button {
  height: 42px;
  width: 47px;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
}

input {
  height: 42px;
  width: 500px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

ul {
  list-style-type: none;
}
